{{!-- CSS link here --}}
<link rel="stylesheet" href="/css/selectRoom.css" />

<h1>Please select a room below</h1>

<div class="form">
	<label for="room">Room</label>
	<select name="room" id="room">
		<option value="Coding">Coding</option>
		<option value="Soccer">Soccer</option>
		<option value="Memes">Memes</option>
		<option value="Music">Music</option>
	</select>
</div>
<button type="submit" class="btn" id="join-btn">Join Chat</button>
<button id="logout" class="btn">Logout</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/room.js"></script>
<script src="/js/logout.js"></script>