<div class="form-control">
	<label for="room">Room</label>
	<select name="room" id="room">
		<option value="Coding">Coding</option>
		<option value="Soccer">Soccer</option>
		<option value="Memes">Memes</option>
		<option value="Music">Music</option>
	</select>
</div>
<button type="submit" class="btn" id="join-btn">Join Chat</button>
<script src="/js/room.js"></script>