  <link rel="stylesheet" href="css/signUpStyle.css" />


<form class="signup-form" >
  
  <h1>Sign Up</h1>

  <input type="text" id="username-signup" placeholder="Username" class="input-area"/ >
  {{!-- Success and fail message, hidden on default --}}
    <p class="success" style="color: greenyellow; display:none;"> Username is available!</p>
    <p class="fail" style="color: red; display:none;" > Username already exists!</p>
  <input type="password" id="password-signup" placeholder = "Password" class="input-area" minlength="4"/>
  <div>
    <button type="submit" class="submit-button">Sign up</button>
  </div>
</form>

<div>
  <a class="login-redirect" href="/login">Log in</a>
</div>

<script src="js/signup.js"></script>
