body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dfc9e6;
}  

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 50px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.input-area{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
}
   
h1 {
    margin: 0 0 48px 0;
}

.signup-redirect {
    color: white;
    background-color: #574e4e;
    padding: 25px 140px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
.signup-redirect:hover {
    text-decoration: underline;
}

.submit-button {
    background-color: #574e4e;
    border: none;
    color: white;
    padding: 15px 107px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    margin: 5px;
}

.submit-button:hover {
    color: #ffffff !important;
    background: #dfc9e6;
    border-color: #dfc9e6 !important;
    transition: all 0.4s ease 0s;
}

.login-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}